.deleteContainer {
  padding: 0 2rem;
  height: 2.7rem;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  margin-left: 2rem;
  cursor: pointer;
}

.addProductContainer {
  padding: 0 2rem;
  height: 2.7rem;
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  margin-left: 2rem;
  cursor: pointer;
  background-color: #6792cd;
  color: white;
  margin-left: 10rem;
}